.eachCard{
    background-color:#ececec;
    margin: 24px 8px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #8b8989;
    width: 300px;
}
.eachCard img{
width: 300px;
height: 300px;
}
.eachCard p{
    margin: 10px 30px;
    background-color: rgb(11, 158, 50);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    color: #fff;
}
.eachCard h2{
    color: #555454;
    margin:10px;
}

.counter{
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid silver;
}
.counter img{
    width: 20px; 
    margin: 16px;
    height: fit-content;
    cursor: pointer;
    
}
.counter span{
    background-color: #555454;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.deactive{
    opacity: 0.3;
}